@page "/"

<div class="title-box shadow">
    <h1 class="text-center">Paulo Octavio de Paula</h1>
</div>

<div class="section shadow">
    <h2>Biografia</h2>
    <p>Apaixonado por desenvolvimento de software iniciei minha jornada aos 12 anos, sem professor, e sem nem mesmo conhecer um desenvolvedor se quer, me apoiei na única vontade de criar algo, aos 15 me introduzi no mercado de trabalho como freelancer desenvolvendo para pequenos empreendedores, hoje aos 20 já tendo desenvolvido soluções para empresas como mobly, uber, CIA de talentos e banco pan, além de ter empreendido no mercado de educação em desenvolvimento de software, leilão de imoveis, e medição de energia eletrica, não poderia me sentir mais confiante e empolgado com o futuro</p>
</div>

<div class="section shadow">
    <h2>Habilidades</h2>
    <ul>
        <li>Typescript</li>
        <li>Javascript</li>
        <li>node</li>
        <li>Solidity</li>
        <li>C#</li>
        <li>Java</li>
        <li>Kotlin</li>
        <li>Go</li>
        <li>python</li>
    </ul>
</div>

<div class="section shadow">
    <h2>Links</h2>
    <a href="https://github.com/paulooctavioINTELI">Github</a>
    <a href="https://linkedin.com/in/paulooctaviodepaula">Linkedin</a>
</div>
